[alias]
	st = status
	co = checkout
	ci = commit
[user]
	name = Chris Pride
	email = cpride@cpride.net
[color]
	ui = auto
[branch]
	autosetuprebase = always
[pack]
	deltaCacheSize = 1073741824
	compression = 9
	windowMemory = 4g
	depth = 250
	window = 25000
	deltaCacheLimit = 10000
	threads = 32
